.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 100px;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 85%;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.listItem {
  margin-bottom: 1rem;
  width: 100%;
}

.button {
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  border: none;
  background-color: #fff;
  width: 100%;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.02);
}

@media (max-width: 1100px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 75px 20px;
    height: 100%;
  }

  .title {
    margin-bottom: 30px;
    font-size: 4rem;
  }

  .list {
    flex-direction: column;
    gap: 0px;
  }

  .listItem {
    margin-bottom: 10px;
  }
}
