.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: -0.05em;
  line-height: 85%;
  color: #333;
}

.text {
  font-size: 1.5rem;
  color: #555;
  margin-top: 1rem;
  text-align: center;
  line-height: 105%;
}

.nextButton {
  padding: 20px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #9000ff99;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 20px;
  right: 20px;
  left: 20px;
}

.nextButton:hover {
  background-color: #3182ce;
}

.skeletonText {
  width: 80%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.skeletonButton {
  padding: 20px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #9000ff;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 20px;
  right: 20px;
  left: 20px;
}
