.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  padding: 100px;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 85%;
  margin-bottom: 30px;
}

.searchInput {
  width: 100%;
  padding: 20px;
  border-radius: 50px;
  font-size: 1.5rem;
  border: none;
  margin-bottom: 30px;
  outline: none;
  background-color: #fff;
  color: #000;
}

.recipeList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  list-style: none;
  padding: 0;
  width: 100%;
}

.recipeItem {
  width: 100%;
}

.recipeButton {
  width: 100%;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 25px;
  border-radius: 50px;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: transparent;
}

.recipeButton:hover {
  transform: scale(1.02);
}

.recipeContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recipeName {
  font-size: 22px;
  font-weight: 500;
  line-height: 85%;
  text-align: left;
  margin-top: 5px;
}

.recipeDescription {
  font-size: 15px;
  font-weight: 300;
  line-height: 105%;
  margin-top: -5px;
  color: #333;
  text-align: left;
}

.recipeTime {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-align: left;
  color: #000;
  border-radius: 50px;
  width: fit-content;
}

.recipeImage {
  width: 100%;
  height: 200px;
}

.recipeImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .container {
    padding: 25px;
    padding-top: 50px;
  }

  .recipeList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .recipeList {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 3.5rem;
    margin-top: 75px;
  }

  .searchInput {
    font-size: 1.2rem;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    position: fixed;
    top: 25px;
    left: 15px;
    right: 15px;
    z-index: 100;
    width: auto;
    box-shadow: 0 0 250px 0 #9000ffaa;
  }

  .recipeItem {
    font-size: 1.2rem;
  }
}

.skeletonItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.skeletonItem:hover {
  transform: scale(1.02);
}

.skeletonImage {
  width: 100%;
  height: 200px;
  background-color: #8c8c8c;
  margin-bottom: 10px;
  border-radius: 15px;
}

.skeletonText {
  width: 80%;
  margin-top: 10px;
  height: 20px;
  background-color: #8c8c8c;
  border-radius: 5px;
}
