.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px 20px;
  border-radius: 10px;
  padding-bottom: 150px;
  overflow-y: auto;
  height: 100vh;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  letter-spacing: -0.05em;
  line-height: 85%;
  color: #333;
}

.image {
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.125rem;
  color: #666;
  margin-bottom: 1rem;
  line-height: 105%;
}

.time {
  font-size: 1rem;
  color: #999;
  margin-bottom: 1rem;
}

.ingredientsTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  margin-top: 1rem;
}

.ingredientsList {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.ingredientItem {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.startButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 20px 0px;
  font-size: 1.1rem;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 0 250px 0 #9000ffaa;
  background-color: #9000ff99;
  backdrop-filter: blur(4px);

  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.startButton:hover {
  background-color: #56b37f;
}

.skeletonImage {
  width: 100%;
  max-width: 500px;
  height: 200px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.skeletonText,
.skeletonTitle {
  width: 80%;
  height: 25px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.skeletonTitle {
  height: 40px;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.skeletonButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 15px 0px;
  font-size: 1.1rem;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 0 250px 0 #9000ffaa;
  background-color: #9000ffaa;
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
