.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  padding: 100px;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 85%;
  margin-bottom: 30px;
}

.searchInput {
  width: 100%;
  padding: 20px;
  border-radius: 50px;
  font-size: 1.5rem;
  border: none;
  margin-bottom: 30px;
  outline: none;
  background-color: #fff;
  color: #000;
}

.recipeList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  list-style: none;
  padding: 0;
  width: 100%;
}

.recipeItem {
  width: 100%;
}

.recipeButton {
  width: 100%;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 25px;
  border-radius: 50px;
  background-color: #fff;
  border: none;
}

.recipeContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 25px;
  padding-right: 10px;
}

.recipeName {
  font-size: 26px;
  letter-spacing: -0.05em;
  font-weight: 600;
  line-height: 85%;
  text-align: left;
  margin-top: 5px;
}

.recipeDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 105%;
  color: #333;
  text-align: left;
}

.recipeTime {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-align: left;
  color: #000;
  border-radius: 50px;
  width: fit-content;
}

.recipeImage {
  width: 100%;
  height: 150px;
}

.recipeImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

@media (max-width: 768px) {
  .recipeList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .recipeList {
    grid-template-columns: 1fr;
  }
}
